*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Avenir", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #777; }

.uploader input[type="file"] {
  opacity: 0;
  position: absolute;
  cursor: pointer; }

.uploader {
  width: 15rem;
  height: 4rem;
  background-color: #29abe2;
  padding: 1rem 0 0 1rem;
  display: block;
  margin-bottom: 1rem; }
  .uploader span {
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem; }
    .uploader span i {
      margin-left: 1rem;
      font-size: 2rem; }
  .uploader:hover {
    background-color: #45b5ff; }
  .uploader:disabled {
    background-color: #7a9ab0; }

.deleteFile {
  display: none;
  cursor: pointer;
  font-size: 1.4rem;
  height: 2.2rem;
  width: 2.2rem;
  color: white;
  text-align: center;
  background-color: #d0d8de;
  border-radius: 50%; }

.betweenText {
  font-size: 1.8rem;
  display: block; }

.filename {
  margin: 1rem;
  font-size: 1.8rem;
  display: none; }

.inputs__main__label {
  display: block;
  color: #29abe2;
  font-size: 1.6rem; }

.inputs__main__drive-input {
  border: 1px solid #b3b3b3;
  width: 100%;
  padding: .5rem;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: #777; }
  .inputs__main__drive-input::placeholder {
    color: #c9c8c8; }
  .inputs__main__drive-input:active {
    outline: none; }

.inputs__main__instruc {
  font-size: 1.2rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
  color: #9a9a9a; }

.inputs__main .select {
  width: 30rem; }

.inputs__main--select {
  width: 100%;
  border: solid 1px #b3b3b3;
  border-radius: 0;
  background-color: transparent;
  font-size: 1.6rem;
  color: #777;
  opacity: 1;
  margin-bottom: 1rem; }
  .inputs__main--select:active {
    outline: none; }

.inputs__options {
  border: 1px solid #b3b3b3;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 2.3rem;
  opacity: 1; }
  .inputs__options input {
    width: 100%;
    padding: .5rem;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    color: #b3b3b3; }
    .inputs__options input::not(:last-child) {
      margin-bottom: 1.5rem; }
  .inputs__options .optText {
    font-size: 1.3rem; }
  .inputs__options--select {
    width: 100%;
    appearance: none;
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0; }
  .inputs__options--graph {
    margin-bottom: 2rem; }
  .inputs__options__submit {
    width: 8rem;
    height: 3rem;
    appearance: none;
    background-color: #29abe2;
    border: none;
    border-radius: 10px;
    color: white;
    letter-spacing: .1rem;
    margin-top: 2rem; }
    .inputs__options__submit:hover {
      border: solid 1px #29abe2;
      background-color: white;
      color: #29abe2;
      cursor: pointer; }

.inputs__errorText {
  font-size: 1.3rem;
  margin-top: -1rem;
  padding: 0;
  color: #970b0b; }

.invalid {
  border: 1px solid #970b0b; }

.submit {
  width: 10rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #29abe2;
  padding: 1rem;
  border: 0 none;
  color: white;
  font-size: 1.5rem;
  display: block;
  margin: 0 auto; }
  .submit:hover {
    background-color: #45b5ff; }

.graph-section {
  border: 1px solid #b3b3b3;
  border-radius: 1.5rem;
  height: 44.2rem; }

.download {
  width: 14rem;
  height: 4rem;
  background-color: #29abe2;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 5px;
  margin-top: 2rem;
  cursor: pointer; }

.embed-code__section__text {
  border: 1px solid #29abe2;
  border-radius: 1rem;
  height: 10rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 37.5em) {
    .row {
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        margin-right: 0;
        margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 *((100% - 2 * 6rem) / 3 ) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 *((100% - 3 * 6rem) / 4 ) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 *((100% - 3 * 6rem) / 4 ) + 2 * 6rem); }

.logo {
  float: left;
  width: 6rem;
  margin-right: 2rem; }

h1 {
  font-family: 'Cutive', Arial, sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-transform: capitalize;
  color: #29abe2; }

p {
  font-size: 1.7rem; }

.graph {
  margin-top: 6rem; }

.embed-code {
  margin-top: 3rem; }
