.logo {
    float: left;
    width: 6rem;
    margin-right: 2rem;
}

h1 {
    font-family: 'Cutive', Arial, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    text-transform: capitalize;
    color: $color-blue;
}
p {
    font-size: 1.7rem;   
}
