.graph-section {
    border: 1px solid $color-grey;
    border-radius: 1.5rem;
    height: 44.2rem;

}
.download {
    width: 14rem;
    height: 4rem;
    background-color: $color-blue;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    padding-top: 5px;
    margin-top: 2rem;
    cursor: pointer;
    
}