.inputs {
    &__main {

        &__label {
            display: block;
            color: $color-blue;
            font-size: 1.6rem;
        }
        &__drive-input {
            border: 1px solid $color-grey;
            width: 100%;
            padding: .5rem;
            font-size: 1.4rem;
            margin-bottom: 1.5rem;
            color: $color-grey-dark;

            &::placeholder {
                color: $color-grey-light;
            }
            &:active {
                outline: none;
            }
            // ::-moz-placeholder {
            //     color: $color-grey-light;
            // }
        }
     
        
        .select {
            // position: relative;
            width: 30rem;
        }
        // span {
        //     position: absolute;
        //     top: 25%;
        //     right: 5%;

        //     i {
        //         font-size: 1.7rem;
        //     }
        
        &--select {
            width: 100%;
            border: solid 1px $color-grey;
            border-radius: 0;
            background-color: transparent;
            font-size: 1.6rem;
            color: $color-grey-dark;
            opacity: 1;

            &:active {
                outline: none;
            }
        }
    }

    &__options {
        border: 1px solid $color-grey;
        border-radius: 1rem;
        padding: 1rem;
        margin-top: 2.3rem;
        opacity: 1;
        

        input {
            width: 100%;
            padding: .5rem;
            font-size: 1.4rem;
            margin-bottom: 1.5rem;
            color: $color-grey;

            &::not(:last-child) {
                margin-bottom: 1.5rem;
            }

        }

        .optText {
            font-size: 1.3rem;
        }

        &--select {
            width: 100%;
            appearance: none;
            font-size: 1.5rem;
            margin: 1rem 0 1rem 0;
        }

        &--graph {
            margin-bottom: 2rem;
        }
        &__submit {
            width: 8rem;
            height: 3rem;
            appearance: none;
            background-color: $color-blue;
            border: none;
            border-radius: 10px;
            color: white;
            letter-spacing: .1rem;
            margin-top: 2rem;

            &:hover {
                border: solid 1px $color-blue;
                background-color: white;
                color: $color-blue;
                cursor: pointer;
            }
            
        }
    }
    &__errorText {
        font-size: 1.3rem;
        margin-top: -1rem;
        padding: 0;
        color: rgb(151, 11, 11);
    }

}

.invalid{
    border: 1px solid rgb(151, 11, 11);
}