.uploader input[type="file"] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.uploader {
    width: 20rem;
    height: 5rem;
    background-color: $color-blue;
    padding: 1.3rem 0 0 1rem;
    display: block;
    margin-bottom: 1rem;

    span {
        cursor: pointer;
        color: white;
        text-transform: uppercase;
        font-size: 1.7rem;
        
        i {
            margin-left: 2rem;
            font-size: 2.3rem;
        }
    }

    &:hover {
        background-color: #45b5ff;
    }

}