<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width-initial-scale=1'>

        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Raleway:300" rel="stylesheet">

        <link rel='stylesheet' href='./css/styles.css'>

        <title>Line Graph</title>
    </head>
    <body>

        <header>
            <div class="row">
                <div class="col-1-of-2">
                    <p>This is where our line graph visualization will go.</p>
                </div>
            </div>
        </header>
    </body>
</html>